{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block posts %}
<br>
{% for post in posts%}
    <article class="{{'style' + random_style}}">
        <span class="image">
            <img src="{{ url_for('static', filename='images/pet_media/' + post.path)}}" alt="" />
        </span>
        <a onclick="adoption_request({{ post.id }})">
            <h2>{{post.name}}</h2>
            <div class="content">
                <p>{{post.description}}</p>
            </div>
        </a>
    </article>
{% endfor %}
{% endblock%}
