{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block Content %} 
<section>
    <h2>Sing-Up</h2>
    <form method="post">
        <div class="fields">
            <div class="field">
                <input type="email" name="email" id="email" placeholder="Enter your Email" />
            </div>
            <div class="field">
                <input type="password" name="password" id="password" placeholder="Enter your Password" />
            </div>
        </div>
            <ul class="actions">
                <li><input type="submit" value="Send" class="primary" /></li>
            </ul>
    </form>

</section>

{% endblock%}