{% extends "base.html" %}
{% block title %} Pet information {% endblock %}
{% block Content %} 
<section>
    <h2>Adoption Request:</h2>
    <br>
    <br>
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.csrf_token}}
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                {{form.post_id(readonly=True, id="post_id", Type="hidden")}}
                <label for="pet_type">Type</label>
                {{form.pet_type(readonly=True, id="pet_type")}}
                <label for="pet_name">Name</label>
                {{form.pet_name(readonly=True, id="pet_name")}}
                <label for="pet_age">Age</label>
                {{form.pet_age(readonly=True, id="pet_age")}}
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="pet_breed">Breed</label>
                {{form.pet_breed(readonly=True, id="pet_breed")}}
                <label for="pet_sex">Sex</label>
                {{form.pet_sex(readonly=True, id="pet_sex")}}  
                <label for="pet_city">City</label>
                {{form.pet_city(readonly=True, id="pet_city")}}                   
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="username">Enter your name:</label>
                {{form.name(id="username")}}
                <label for="useremail">Enter your email:</label>
                {{form.email(id="useremail")}}
                <label for="description">Additional information:</label>
                {{form.description(id="description")}}
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="userlastname">Enter your last name:</label>
                {{form.last_name(id="userlastname")}}
                <label for="userphone">Enter your phone number:</label>
                {{form.phone(id="userphone")}}
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li>{{form.send(class="primary")}}</li>
                </ul>
            </div>
        </div>
    </form>
</section>

{% endblock%}
