{% extends "base.html" %}
{% block title %} Sign-Up {% endblock %}
{% block Content %}
<section>
    <h2>Sign-Up</h2>
    <form method="post" action="#">
        {{form.csrf_token}} 
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                {{form.name}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.last_name}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.email}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.phone}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.password1}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.password2}}
            </div>
            <div class="field half">
                {{form.country}}
            </div>
            <div class="field half">
                {{form.state}}
            </div>
            <div class="field half">
                {{form.city}}
            </div>
            <div class="col-6 col-12-xsmall">
                {{form.address}}
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li>{{form.send(class="primary")}}</li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
{% endblock%}